@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#content_nav_butn {
  width: 100%; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  text-align: right; 
  white-space: normal; 
  overflow-wrap: break-word;
}
button:hover {
  text-decoration: underline; 
}   
