@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content_nav_butn {
  @apply 
    w-full 
    text-xl leading-7 text-center whitespace-normal
    hover:text-yellow-400
    bg-blue-600 bg-opacity-25
    p-[2%]
    rounded-3xl;
}

main {
  @apply text-blue-100 overflow-auto
}
